<div class="card" *ngIf="equipment">
  <div>
    <h2>Equipamento Atual</h2>
    <h3>Equipamento #{{equipment.id}}</h3>
  </div>

  <div class="status">

    <div class="item">
      <p>CPU</p>
      <div class="progress">
        {{equipment.usage.cpu}}%
      </div>
    </div>

    <div class="item">
      <p>RAM</p>
      <div class="progress">
        {{equipment.usage.ram}}%
      </div>
    </div>

    <div class="item">
      <p>Disk</p>
      <div class="progress">
        {{equipment.usage.disk}}%
      </div>
    </div>

    <div class="item">
      <p>Internet</p>
      <div class="progress">
        {{equipment.usage.internet}}%
      </div>
    </div>
  </div>

  <div class="network">
    <span></span>&nbsp;
    <p>Conectado</p>
  </div>

</div>